body {
  background-color: var(--darkgray);
  color:var(--verylightgray);
  font-family:Roboto, sans-serif;
  font-size:18px;
}

#center {
  text-align:center;
}

/* Thx https://colorhunt.co/palette/eeeeee686d76373a40dc5f00 */
:root {
  --orange: #DC5F00;
  --verylightgray: #EEEEEE;
  --darkgray: #373A40;
  --gray: #686D76;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
