body {
  height: 100%;
  background-color: black;
  color: green;
  font-family: monospace;
  font-size:16px;
  line-height:1.5;
}

.kaomoji {
  font-size:24px;
}

.content {
  width: fit-content;
  margin: 10vh auto;
}

a {
color:green;
font-decoration:underline;
}
